/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.pc-sidebar {
  height: 100vh; /* Chiều cao toàn màn hình */
  overflow-y: auto; /* Cho phép cuộn dọc */
}

.pc-sidebar .navbar-content {
  max-height: calc(100vh - 50px); /* Trừ đi chiều cao header nếu có */
  overflow-y: auto; /* Cho phép cuộn dọc */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}